$theme-purple: #902c90;
$theme-blue: #00a0e9;
$theme-green: #00a848;
$theme-yellow: #f2c500;
$theme-red: #e53935;
$theme-orange: #ff5e57;
$theme-pink: #ff4081;
$theme-brown: #8d6e63;
$theme-grey: #757575;
$theme-light-grey: #f3f3f3;
$theme-black: #000000;
$theme-white: #ffffff;

$dnd-beyond-red: #c73032;
$artificer-copper: #d59139;
$barbarian-fire: #e7623e;
$bard-rouge: #ab6cac;
$cleric-silver: #91a1b1;
$druid-moss: #79853c;
$fighter-rust: #7f513d;
$monk-sky: #4ea5c5;
$paladin-gold: #b7a156;
$ranger-emerald: #4f7f63;
$rogue-ash: #555752;
$sorcerer-blood: #992d2f;
$warlock-iris: #7c469b;
$wizard-cobalt: #274fa2;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    object-fit: cover;
  }
  .into-the-west {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: none;
    .clickable {
      cursor: pointer;
      &:hover {
        background-color: $theme-light-grey;
        border-radius: 10px;
      }
    }
    .header {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
    .body {
      display: flex;
      flex-direction: column;
      width: 1000px;
      .nav-bar {
        width: 100%;
        .nav-item {
          color: $theme-purple;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
          &.active {
            color: $theme-blue;
          }
        }
      }
      .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        .table {
          display: flex;
          flex-direction: column;
          align-items: center;
          &.character-table {
            width: 100%;
            .avatar {
              width: 50px;
            }
            .name {
              width: 300px;
            }
            .class {
              width: 250px;
            }
            .level {
              width: 50px;
            }
            .xp {
              width: 350px;
            }
            .header {
              display: flex;
              justify-content: space-between;
              font-weight: bold;
              font-size: 1.2em;
              padding: 10px;
              .xp {
                text-align: center;
              }
            }
            .body {
              .row {
                display: flex;
                padding-left: 5px;
                padding-right: 5px;
                &:hover {
                  font-weight: bold;
                }
                .cell {
                  display: flex;
                  align-items: center;
                  padding: 5px;
                  &.avatar {
                    img {
                      height: 23px;
                      width: 23px;
                      border-radius: 5px;
                    }
                  }
                  &.class {
                    .class-container {
                      display: flex;
                      margin-right: 10px;
                      align-items: center;
                      margin-right: 10px;
                      .class-icon {
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        margin-right: 5px;
                      }
                    }
                  }
                  &.level {
                    display: flex;
                    justify-content: center;
                  }
                  &.xp {
                    .xp-bar-container {
                      flex-grow: 1;
                      width: 100%;
                      .xp-bar .progress {
                        height: 10px;
                      }
                      .xp-description {
                        font-size: 12px;
                        width: 60px;
                        text-align: end;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .xp-bar-container {
        display: flex;
        align-items: center;
        .xp-bar {
          border-radius: 8px;
          width: 100%;
          margin-right: 10px;
          background-color: #e1e1e1;
        }
        .progress {
          height: 16px;
          border-radius: 8px;
          display: flex;
          background-color: $dnd-beyond-red;
          &[data-class-name="Artificer"] {
            background-color: $artificer-copper;
          }
          &[data-class-name="Barbarian"] {
            background-color: $barbarian-fire;
          }
          &[data-class-name="Bard"] {
            background-color: $bard-rouge;
          }
          &[data-class-name="Cleric"] {
            background-color: $cleric-silver;
          }
          &[data-class-name="Druid"] {
            background-color: $druid-moss;
          }
          &[data-class-name="Fighter"] {
            background-color: $fighter-rust;
          }
          &[data-class-name="Monk"] {
            background-color: $monk-sky;
          }
          &[data-class-name="Paladin"] {
            background-color: $paladin-gold;
          }
          &[data-class-name="Ranger"] {
            background-color: $ranger-emerald;
          }
          &[data-class-name="Rogue"] {
            background-color: $rogue-ash;
          }
          &[data-class-name="Sorcerer"] {
            background-color: $sorcerer-blood;
          }
          &[data-class-name="Warlock"] {
            background-color: $warlock-iris;
          }
          &[data-class-name="Wizard"] {
            background-color: $wizard-cobalt;
          }
        }
        .xp-description {
          font-size: 16px;
        }
      }
      .surface-card {
        background-color: #fff;
        width: max-content;
        padding: 20px;
        border-radius: 20px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        min-height: 20px;
        min-width: 20px;
        .character-card {
          width: 500px;
          .character-body {
            display: flex;
            margin-bottom: 10px;
            .avatar {
              height: 72px;
              width: 72px;
              border-radius: 25%;
            }
            .character-details {
              margin-left: 10px;
              .classes {
                display: flex;
                .class-container {
                  display: flex;
                  margin-right: 10px;
                  .class-icon {
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }
        .session-card .dungeon-master {
          display: flex;
          flex-direction: row;
          .label {
            font-weight: bold;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
